		*{
    		box-sizing: border-box;
    		
		}

		.navbar-container .container{
			width: 100%;
		}
		
		.navbar .navbar-nav a{
			font-size: 22px;

		}
		.profile{
			width: 100%;
			background-color: #dfe6e9;

		}
		
		
		.profile .profile-pic{
			width: 300px;
			height: 300px;
			/*background-color: salmon;*/
			border-radius: 100%;
			object-fit: cover;
			

				

		}
		
		


		.profile .col-lg-6{
				height: 500px;
				justify-content: center;
				align-items: flex-start;
				padding-right: 0;
				
				
		}


		.profile .basic-profile h1{
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 60px;
			color: #2c3e50;
			margin-bottom: -10px;


		}
		.profile .basic-profile h1 span{
			font-weight: 500;
		}
		.profile .basic-profile h3{
			font-weight: 300 ;
			margin-top: 10px;
			letter-spacing: 5px;
			text-align: center;
			font-size: 30px;

		}
		.profile .row{
			flex-wrap: wrap;
			flex-direction: column;
			width: 100%;
			
		}
		.profile .profile-pic-container{
				height: 500px;
				justify-content: center;
				align-items: center;
				padding-right: 0;
				
				
		}

		.profile .button-about{
			text-align: center;
			margin-top: 30px;
		}
		.about-me{
			padding: 50px 20px;
		}
		.about .about-me h1, .skills-container h1, .project-experience h1{
			text-align: center;
			text-transform: uppercase;
			font-weight: 500;
		}
		.about .about-me h3{
			font-weight: 200;
			text-align: center;
			font-size: 25px;
		}
		
		.skills-row .skills-container{
			box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
			
			width: 85%;
			border-radius: 30px;
			padding: 45px 0;

		}
		.progress{
			width: 300px;
			height: 25px;
			margin-left: 20px;

		}
		.skills{
			display: flex;
			width: 100%;
			justify-content: center;
			flex-wrap: wrap;
			padding: 5px;
		}
		.skills-name{
			width: 100px;
		}
		.skills h5{
			
			text-align: center;
		}

		.project-experience{
			padding: 60px 0px;
		}
		.project-experience .carousel{
			width: 85%;
			border-radius: 30px;
			padding: 50px;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		}
		
		.carousel img{
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			border-radius: 30px;
		}
		.carousel-caption h5{
			background-color: rgba(0, 0, 0, 0.9);
		}
		
		

		
@media (min-width: 992px) { 

			.profile{
			 	height: 500px;
			}
			.profile .profile-pic{
				
			}
			.profile .profile-pic-container{
				height: 500px;
				justify-content: flex-end;
				align-items: center;
				padding-right: 10px;

				
			}
			.profile .basic-profile{
				justify-content: flex-start;
				align-items: center;
				padding-left: 10px;
				

			}

			.profile .basic-profile h1, .profile .basic-profile h3{
				text-align: left;

			}
			.profile .col-md-6{
				align-items: center;
			}
			.profile .row{
			flex-wrap: wrap;
			flex-direction: row;
			width: 100%;
			}
			
			.profile .button-about{
			text-align: left;
			}
			.skills-row .skills-container{
				width: 90%;
			}
}